body {
    max-width: 360px;
    height: 580px;
    margin: 0 auto;
    border: 1px solid black;
}

.container {
    max-width: 360px;
    height: 580px;
    display: flex;
    flex-direction: column;
    header {
        margin: 10px;
        font-size: 16px;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        .title {
            flex-grow: 2;
            font-weight: bold;
        }
    } 
    .search {
        border: 1px solid black;
        padding: 5px;
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        input {
            border: 0;
        }
    }
    .cate-title {
        border: 1px solid black;
        padding: 5px;
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    .product {
        flex-grow: 2;
        .product-info {
            margin: 15px;
            border: 1px solid gray;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 5px;
            gap: 5px;
            
            .product-name {
                flex-grow: 2;
            }
            .product-quantity {
                display: flex;
                gap: 10px;
            }
        }
    }
    
    .check-out {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
        background-color: #66FF99;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 17px;
        button {
            border: 0;
        }
    }
}
