
    <div class="product-info">
        <img src="" [alt]="product.name" />
        <div class="product-name">
          <div>{{ product.name }}</div>
          <div>SP {{ product.id }}</div>
        </div>
        <div class="product-price">
          <div>Tồn kho: <strong style="color: red">{{ product.quantity }}</strong></div>
          <div style="color: red; font-weight: bold">{{ product.price }}đ</div>
        </div>
      </div>


  <!-- <div class="product-info">
      <img src="" alt="banh mi" />
      <div class="product-name">
        <div>Bánh mì thơm</div>
        <div>SP001</div>
      </div>
      <div class="product-price">
        <div>Tồn kho: <strong style="color: red">100</strong></div>
        <div style="color: red; font-weight: bold">300.000đ</div>
      </div>
    </div>
    <div class="product-info">
      <img src="" alt="banh mi" />
      <div class="product-name">
        <div>Bánh mì thơm</div>
        <div>SP001</div>
      </div>
      <div class="product-price">
        <div>Tồn kho: <strong style="color: red">100</strong></div>
        <div style="color: red; font-weight: bold">300.000đ</div>
      </div>
    </div> -->
