<!-- footer -->
<footer>
    <div class="footer-menu">
        <div class="footer-left" routerLink="/home" routerLinkActive="active">
            <span><i class="fa fa-home" aria-hidden="true"></i></span>
            <p>Quản lý</p>
        </div>
        <div class="footer-center" routerLink="/rev-exp" routerLinkActive="active">
            <span><i class="fa fa-credit-card" aria-hidden="true"></i></span>
            <p>Thu chi</p>
        </div>
        <div class="footer-right" routerLink="/order" routerLinkActive="active">
            <span><i class="fa fa-archive" aria-hidden="true"></i></span>
            <p>Đơn hàng</p>
        </div>
    </div>
</footer>
