footer {
    
    border: 1px solid green;
    .footer-menu {
        text-align: center;
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        p {
            margin-top: 5px;
            &:hover {
                color: red;
                font-weight: bold;
            }
        }
        .footer-left {
            p:active {
                color: blue;
            }
        }
    }
}