<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/assets/font/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <div class="title">Lợi nhuận bán hàng</div>
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </header>
        <app-calender></app-calender>
        <div class="profit-title">Lợi nhuận theo</div>
        <div class="profit-type">
            <strong class="pt-choose">Sản phẩm</strong>
            <strong>Đơn hàng</strong>
            <strong>Khách hàng</strong>
        </div>
        <div class="profit-detail">
            <div class="pd-title">
                <div>Sản phẩm</div>
                <div>SL <i class="fa fa-filter" aria-hidden="true"></i></div>
                <div>Doanh thu <i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                <div>Lợi nhuận <i class="fa fa-filter" aria-hidden="true"></i></div>
            </div>
            <div class="pd-product">
                <div>Bánh mì</div>
                <div class="pd-sl">3</div>
                <div>9.000</div>
                <div>3.000</div>
            </div>
            <div class="pd-product">
                <div>Tỏi</div>
                <div class="pd-sl">10</div>
                <div>200.000</div>
                <div>50.000</div>
            </div>
            <div class="pd-product">
                <div>Áo sơ mi</div>
                <div class="pd-sl">2</div>
                <div>400.000</div>
                <div>100.000</div>
            </div>
            
        </div>
        <div class="pd-total">
            <div class="pd-tc">Tổng cộng</div>
            <div class="pd-sl">15</div>
            <div><strong>609.000</strong></div>
            <div>152.000</div>
        </div>
    </div>
</body>
</html>


