<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/assets/font/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
            <i class="fa fa-chevron-left" aria-hidden="true" routerLink="/home" routerLinkActive="active"></i>
            <div class="title">Báo cáo</div>
        </header>
        <app-menu-report></app-menu-report>
        <app-calender></app-calender>
        <div class="total-profit">
            <div class="tf-title">
                <i class="fa fa-btc" aria-hidden="true"></i>
                <div>Lợi nhuận</div>
            </div>
            <div class="tf-sum">
                <strong>128.000</strong>
            </div>
            
        </div>
        <div class="detail-profit">
            <div class="dp-title">
                <div class="dpt-profit">Doanh thu</div>
                <div><strong>380.000</strong></div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
            <div class="dp-detail">
                <div>
                    <div>Tổng giá bán</div>
                    <div>380.000</div>
                </div>
                <div>
                    <div>Phí vận chuyển</div>
                    <div>0</div>
                </div>
                <div>
                    <div>Khuyến mãi</div>
                    <div>0</div>
                </div>
                <div>
                    <div class="dpd-center">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <button type="button">Thêm doanh thu khác</button>
                    </div>
                    
                </div>
            </div>
            <div class="dp-capital-price">
                <div>Giá vốn bán hàng</div>
                <div><strong>252.000</strong></div>
            </div>
            <div class="dp-expense">
                <div class="dpe-1">Chi phí</div>
                <div><strong>0</strong></div>
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
            <div class="dp-add-exp-dif">
                <div class="dpa-button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <button type="button">Thêm chi phí khác</button>
                </div>
                
            </div>
        </div>
        <div class="sales-profit-expenses">
            <div>Chi phí lợi nhuận bán hàng</div>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
    </div>
</body>
</html>


