<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/assets/font/font-awesome-4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="title bg-blue">
        <div><i class="fa fa-angle-left" aria-hidden="true" routerLink="/home" routerLinkActive="active"></i></div>
        <p>Kho hàng</p>
        <div>
          <i class="fa fa-search" style="flex-grow: 5" aria-hidden="true"></i>
        </div>
      </div>
      <div class="menu-top bg-blue">
        <div class="menu-in-top">
          <div class="center-icon">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <p>Sổ kho</p>
          </div>
          <div class="center-icon">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p>Kiểm kho</p>
          </div>
          <div class="center-icon">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            <p>Sổ nhập hàng</p>
          </div>
          <div class="center-icon">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            <p>Sổ xuất hàng</p>
          </div>
        </div>
      </div>
      <div class="c3 bg-blue">
        <p>5 Mã sản phẩm</p>
      </div>
      <div class="stock bg-blue">
        <div class="stock-inner">
          <div><i class="fa fa-usd" aria-hidden="true"></i>Giá trị tồn</div>
          <div>10.000.000</div>
        </div>
        <div class="stock-inner">
          <div><i class="fa fa-usd" aria-hidden="true"></i>Số lượng</div>
          <div>{{ getQuantity() }}</div>
        </div>
      </div>
      <div class="c5 category">
        <div class="cate-title">
          <button type="button" (click)="filter=''">Tất cả</button>
          <button type="button" (click)="filter='Tỏi'">Tỏi</button>
          <button type="button" (click)="filter='Bánh mì'">Bánh mì</button>
          <i class="fa fa-th-large fa-2x" aria-hidden="true"></i>
        </div>
        <div class="cate-filter">
          <div>Giá trị <i class="fa fa-filter" aria-hidden="true"></i></div>
          <div style="font-weight: bold">|</div>
          <div>Số lượng <i class="fa fa-filter" aria-hidden="true"></i></div>
          <div style="font-weight: bold">|</div>
          <div>Từ A => Z</div>
        </div>
      </div>
      <div class="c6 product">
        <ul>
          <li  *ngFor="let product of getFilteredProducts()">
            <app-product-list [product]="product"></app-product-list>
          </li>
        </ul>
        
      </div>

      <div class="c7 menu-warehouse">
        <button class="export-product">Xuất hàng</button>
        <button class="check-warehouse">Kiểm kho</button>
        <button class="import-product">Nhập hàng</button>
      </div>
    </div>
  </body>
</html>
