<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/assets/font/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <div class="title">Xác nhận đơn hàng</div>
        </header>
        <div class="create-product">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <button type="button">Thêm sản phẩm</button>
        </div>
        <div class="customer-info">
            <div>Khách hàng</div>
            <div> 
                <div class="choose-customer">
                    <input type="text" placeholder="Chọn khách hàng">
                    <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
                </div> 
                <hr>                        
            </div>
        </div>
        <div class="product">
            <div class="product-info">
              <img src="" alt="banh mi" />
              <div class="product-name">
                <div>Bánh mì thơm</div>
                <div>3.000</div>
              </div>
              <div class="product-quantity">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                <div>1</div>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
            <div class="product-info">
                <img src="" alt="toi" />
                <div class="product-name">
                  <div>Tỏi</div>
                  <div>20.000</div>
                </div>
                <div class="product-quantity">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    <div>2</div>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
              </div>
              <div class="product-info">
                <img src="" alt="ao so mi" />
                <div class="product-name">
                  <div>Áo sơ mi</div>
                  <div>200.000</div>
                </div>
                <div class="product-quantity">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    <div>1</div>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="confirm-product">
            <div class="cp-1">
                <div>Tổng sản phẩm</div>
                <div>4</div>
            </div>
            <div class="cp-2">
                <div>Tổng cộng</div>
                <div>243.000</div>
            </div>
        </div>
        <div class="note">
            <div class="note-c">
                <input type="text" placeholder="Ghi chú">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
            </div> 
            <hr>                        
        </div>
        <div class="date-create">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div>Ngày tạo: 1/1/2024</div>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        
        <button class="save-order" type="button">Lưu đơn</button>
        
    </div>
</body>
</html>


