body {
    max-width: 360px;
    height: 580px;
    margin: 0 auto;
    border: 1px solid black;
}

.container {
    max-width: 360px;
    height: 580px;
    display: flex;
    flex-direction: column;
    header {
        margin: 10px;
        display: flex;
        font-weight: bold;
        div {
            margin: 0 auto;
        }
    }
    .create-product {
        border: 1px solid black;
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        button {
            border: 0;
        }

    }
    .customer-info {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        margin: 20px;
        padding: 10px;
        .choose-customer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            input {
                border: 0;
            }
        }
    }
    .product {
        margin-top: -10px;
        .product-info {
            margin: 5px 20px;
            border: 1px solid gray;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 5px;
            gap: 5px;
            
            .product-name {
                flex-grow: 2;
            }
            .product-quantity {
                display: flex;                
                gap: 10px;
            }
        }
    }
    .confirm-product {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        margin: 5px 20px;
        padding: 10px;
        gap: 10px;
        .cp-1, .cp-2{
            display: flex;
            justify-content: space-between;
        }
        .cp-2 {
            color: red;
            font-weight: bold;
        }
    }
    .note {
        border: 1px solid black;
        margin: 5px 20px;
        padding: 5px;
        .note-c {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .date-create {
        display: flex;
        gap: 10px;
        margin-left: 20px;
    }
    .save-order {
        width: 80%;
        height: 30px;
        margin: 30px auto 0px;
        align-self: flex-end;
        font-weight: bold;
        background-color: cyan;
        border-radius: 5px;
    }
}